<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Plot Pundit" />
  <meta name="title" property="og:title" content="Plot Pundit" />
  <meta property="og:type" content="Website" />
  <meta name="image" property="og:image" content="https://i.imgur.com/kAx97zNm.png" />
  <meta name="description" property="og:description" content="Plot Pundit" />
  <meta name="author" content="Mike Mattingly" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Plot Pundit</title>
</head>
<body>
    <header>
        <nav id="topNav">
            <a href="/"><img id="appTitle" src="/images/logo.png"></a>
            <div id="navLogin">
                <% if (user) { %>
                <a href="/logout">Log Out</a>
                <% } else { %>
                <a href="/auth/google"> Login</a>
                <% } %> 
            </div>      
        </nav>
        <% if (user) { %>
        <nav id="bottomNav">
            <ul id="menuNav">
                <li><a href="/movies/new">Add Movie</a></li>
                <li><a href="/movies">My Movies</a></li>
            </ul>
        </nav>
        <% } else { %>
        
        <% } %> 
    </header>
