header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#topNav {
  background: black;
  width: 390px;
  height: 70px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -9px;
}

#bottomNav {
  background: black;
  display: inline-flex;
  width: 390px;
  height: 25px;
  margin-top: 18px;
  margin-left: -8px;
  margin-right: -8px;
  border-top: double #333333;
}

#menuNav {
  display: inline-flex;
  margin: auto;
  list-style-type: none;
}

#menuNav > li {
  padding-right: 30px;
}

#menuNav > li > a {
  color: #D6D382;
  text-decoration: none;
}

#menuNav > li > a:hover {
  color: grey;
}

#appTitle {
  order: 1;
  width: 213px;
  height: 65px;
  display: block;
  margin-left: 88.4px;
  margin-right: 0px;
  padding-top: 5px;
}

#navLogin {
  order: 2;
  text-align: right;
  background: black;
  width: auto;
}

#navLogin > a {
  text-decoration: none;
  color: #D6D382;
  margin-right: 5px;
  font-size: 15px;
}

#navLogin > a:hover {
  color: grey;
}

#loginMain {
  text-align: center;
  width: 360px;
}

#loginMain > h4 {
  margin-top: -10px;
}

#loginMain > table {
  margin: auto;
}

#loginMain > a {
  text-decoration: none;
  color: blue;
}

#addMovie {
  margin-left: 50px;
  width: 360px;
}

#addMovie > h1 {
  margin-left: -80px;
  text-align:center;
}

#addMovieBtn {
  margin-left: -80px;
  text-align: center;
}

#editMovie {
  margin-left: 30px;
  width: 360px;
}

#editMovie > h1 {
  text-align: center;
  margin-left: -50px;
}

#movieShow {
  margin-left: 20px;
}

#movieShow > h2 {
  margin-left: -20px;
  text-align: center;
}

td > a {
  text-decoration: none;
  color: blue;
}

td > a:hover {
  color: #D6D382;
}

button {
  background: black;
  color: #D6D382;
  border-radius: 7px;
  text-align: center;
}

button:hover {
  color: grey;
}

#centerBtn {
  text-align: center;
}

#addCom {
  text-align: center;
}

#formBtn {
  text-align: center;
}

input[type=submit] {
  background: black;
  color: #D6D382;
  border-radius: 7px;
}

input[type=submit]:hover {
  color: grey;
}

@media only screen and (min-width: 760px) {

  body {
    max-width: 1920px;
  }

  #topNav {
    width: 1920px;
  }

  #bottomNav {
    width: 1920px;
  }

  #menuNav > li {
    padding-right: 100px;
    padding-left: 40px;
  }

  #appTitle {
    margin: auto;
  }

  #navLogin {
    width: auto;
  }

  #loginMain {
    width: auto;
    font-size: 20px;
  }

  #addMovie {
    margin: auto;
    font-size: 20px;
  }

  #addMovie > h1 {
    margin-left: -12px;
  }

  #addMovieBtn {
    margin-left: -40px;
  }

  #centerBtn {
    margin: auto;
  }

  #movieShow {
    width: auto;
    margin-left: auto;
    font-size: 20px;
  }

  #listShow {
    width: 390px;
    margin: auto;
  }

  #editMovie {
    margin: auto;
    font-size: 20px;
    width: 500px;
  }

  td {
    padding: 5px;
  }
  
}
