header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#topNav {
  background: black;
  width: 390px;
  height: 70px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -9px;
}

#bottomNav {
  background: black;
  display: inline-flex;
  width: 390px;
  height: 25px;
  margin-top: 18px;
  margin-left: -8px;
  margin-right: -8px;
  border-top: double #333333;
}

#menuNav {
  display: inline-flex;
  margin: auto;
  list-style-type: none;
}

#menuNav > li {
  padding-right: 30px;
}

#menuNav > li > a {
  color: #D6D382;
  text-decoration: none;
}

#menuNav > li > a:hover {
  color: grey;
}

#appTitle {
  order: 1;
  width: 213px;
  height: 65px;
  display: block;
  margin-left: 88.4px;
  margin-right: 0px;
  padding-top: 5px;
}

#navLogin {
  order: 2;
  text-align: right;
  background: black;
}

#navLogin > a {
  text-decoration: none;
  color: #D6D382;
  margin-right: 5px;
  font-size: 15px;
}

#navLogin > a:hover {
  color: grey;
}

#loginMain {
  text-align: center;
}

#addMovie {
  text-align:center;
}

button {
  background: black;
  color: #D6D382;
  border-radius: 7px;
}

button:hover {
  color: grey;
}

input[type=submit] {
  background: black;
  color: #D6D382;
  border-radius: 7px;
}

input[type=submit]:hover {
  color: grey;
}
