<%- include('../partials/header') %>

<main id="addMovie">
    <h1>Add Movie</h1>
<form id="add-movie" action="/movies" method="POST">
    <label>Title:</label>
    <input type="text" name="title" required><br><br>
    <label>Release Year:</label>
    <input type="number" name="year" min="1900" max="2500" required><br><br>
    <label>Runtime (in Minutes):</label>
    <input type="number" name="runtime" min="1" required><br><br>
    <label>MPAA Rating:</label>
    <select name="mpaa">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="NC-17">NC-17</option>
        <option value="Not-Rated">Not-Rated</option>
    </select><br><br>
    <label>Platform:</label>
    <select name="platform">
        <option value="Netflix">Netflix</option>
        <option value="Hulu">Hulu</option>
        <option value="HBO Max">HBO Max</option>
        <option value="Amazon Prime">Amazon Prime</option>
        <option value="Disney+">Disney+</option>
        <option value="Apple TV">Apple TV</option>
        <option value="Peacock">Peacock</option>
        <option value="Theater">Theater</option>
        <option value="Blu-Ray">Blu-Ray</option>
        <option value="DVD">DVD</option>
        <option value="Other">Other</option>
    </select><br><br>
    <label>Date Watched:</label>
    <input type="date" name="dateWatched"><br><br>
    <label>Rating (1-10):</label>
    <input type="number" name="rating" min="0" max="10" step=".5" required><br><br>
    <div id="addMovieBtn"><input type="submit" value="Add Movie"></div>
</form>
</main>

<%- include('../partials/footer') %>